:host {
  width: 100%;
}

section {
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  user-select: none;
  position: relative;

  .title {
    position: absolute;
    left: 50%;
    transform: translateX(-25%);
    width: 67%;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 1.5rem;
    font-weight: bold;
    white-space: nowrap;
    align-self: flex-start;
  }

  p {
    padding-top: 1rem;
  }

  img {
    height: 90%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
  }
}
