header {
  background: linear-gradient(to right, rgb(24, 24, 24), rgb(15, 12, 17));
  height: 6dvh;
  top: 0;
  z-index: 999;
  padding-inline: 1rem;
  position: sticky;

  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;

  .title {
    color: white;
    user-select: none;
    font-size: 1.4rem;
    font-weight: bold;

    background: linear-gradient(to right, rgb(184, 157, 189), rgb(198, 115, 212));

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
}

main {
  width: 100dvw;
  height: 94dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
