@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: 'Noto Sans Hebrew',
      density: 0,
    )
  );
}

body {
  color-scheme: light;
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}

*:not(mat-icon),
*:not(mat-icon)::before,
*:not(mat-icon)::after {
  box-sizing: border-box !important;
  font-family: 'Noto Sans Hebrew' !important;
  -webkit-tap-highlight-color: transparent;
}

body,
html {
  overscroll-behavior: none;
}

.bottom-sheet .mat-bottom-sheet-container {
  background: transparent !important;
  overflow: visible !important;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  height: 70dvh;
}
