:host {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-top: 2rem;
  padding-inline: 2rem;

  background:
    linear-gradient(to bottom, rgba(245, 242, 242, 0.041), rgba(0, 0, 0, 0.541)),
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/home-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40%;
}

.title {
  color: white;
  font-size: 1.4rem;
  text-shadow: 2px 2px 6px black;

  user-select: none;
}

.cook-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
